html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

#root {
  height: 100%;
}

.app {
  background: #f7f7f7;
  height: 100%;
}

.wrapper {
  max-width: 1010px;
  margin: 0 auto;
}

.app__wrapper {
  background: #ffffff;
  height: 100%;
}

.movies {
  position: relative;
}

.ant-spin-spinning {
  position: absolute;
  top: 100px;
  width: 100%;
}

.ant-row {
  padding: 19px 32px;
}

.ant-list-empty-text {
  display: none;
}
